{% extends 'new_project/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="create_body">
            <h1 align="center">Добавление слова</h1><br>
            <form method="post">
                {%csrf_token%}
                {{form.russian_word}}<br>
                {{form.english_word}}<br>
                <label>Сложность слова(максимум 10):</label>
                {{form.difficult}}<br>
                {% if dicts %}
                <select name="dict_name" required class="form-select" aria-label="Default select example">
                    {% for el in dicts %}
                        {% if el.id != dict_id %}                                                                                                                                                                       %}
                            <option>{{el.name}}</option>
                        {%else%}
                            <option selected>{{el.name}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
                {% endif %}<br>
                {% if request.user.is_authenticated%}
                    <button type="submit" class="btn btn-success" >Добавить</button>
                {% else %}
                    <label>Добавление слов доступно только админам</label>
                {% endif %}
                <span>{{error}}</span>
            </form>
        </div>
            <div class="list_body">
            <h3>Недавние</h3>
            {% if words %}
                {% for el in words %}
                    <div>
                        <p>{{ el.russian_word }} / {{ el.english_word }} сложность: {{ el.difficult }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет слов</p>
            {% endif %}
        </div>
    </div>

    </div>
{% endblock %}